*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 400px;
}


.top-nav {
    background-color: #d9ecef;
    height: 80px;
}

.top-content {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    padding: 15px 0;
    color: white;
}

.logo {

    background-color: #2616ce;
    width: 20%;
    border: 3px solid rgb(11, 10, 10);
    height: 35px;
}

.logo a {
    color: white;
}




.navbar {
    background-color: #1e0076;
    width: 60%;
    height: 35px;
    display: flex;
    justify-content: space-around;
}

.login {
    background-color: #2616ce;
    width: 20%;
    text-align: right;
    height: 35px;
    border: 3px solid rgb(0, 0, 0);
}

.navbar li {
    list-style: none;
    
}

.navbar a {
    color: #fff;
    
}

.bottom-nav {
    margin: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7b7bbf;
}

.bottom-content {
   
    width: 500px;
    height: 300px;
    background-color: #404EED;
    
    background-image: url("../img/img1.svg");
    background-repeat: no-repeat;
}

.flexo {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.image {
    background-color: #292841;
    height: 300px;
    width: 600px;
 
}


.text {
    background-color: #6e6eb1;
    height: 300px;
    width: 400px;
    border: 2px solid #000;
    color: white;
    padding: 20px;
}

.img {
    width: 450px;
    height: 380px;
   
}

.bckgrnd {
    background-color: #f7f7f7;
}

.img2 {
    width: 450px;
    height: 345px;
}

.container-flex {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .big-one {
    height: 600px;
    width: 600px;
} */

.bckgrnd-2 {
    background-color: #292841;
    width: 80%;
    height: 200px;
    display: flex;
    margin: auto;
        
}

.bckgrnd-3 {
    width: 80%;
    height: 500px;
    display: flex;
    margin: auto;
    justify-content: center;
    background-color:#B9BBBE;

}

.footer-top {
    display: flex;
    height: 500px;
    justify-content: center;
    background-color: #7a7b7b;
    border-bottom: 15px solid #000000;
    padding-top: 40px;
}

.footer-small-content {
    background-color: #292841;
    width: 20%;
    height: 90%;
    border: 3px solid #000;
}

.footer-big-content {
    background-color: #6E6EB1;
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
}

.footer-column {
    border: 3px solid #000;
    width: calc(100% / 4);
}


.footer-bottom {
    background-color: #23272a;
    display: flex;
    justify-content: center;
}

.footer-bottom-content {
    background-color: #292841;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.button1 {
    background-color: #6E6EB1;
    margin: 30px 0;
    padding: 5px;
}

.radius {
    border-radius: 40px;
    font-size: 16px;
    padding: 10px 16px;
    
}

.button {
    margin: 30px 0;
    color: white;
}